@font-face {
  font-family: 'Circular';
  src: url('/fonts/CircularStd-Book.eot'); /* IE9 Compat Modes */
  src: url('/fonts/CircularStd-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/CircularStd-Book.woff') format('woff'), /* Modern Browsers */
       url('/fonts/CircularStd-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/CircularStd-Book.svg#dd452d63ae05ddb466f19713a7d09fd5') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Circular';
  src: url('/fonts/CircularStd-BookItalic.eot'); /* IE9 Compat Modes */
  src: url('/fonts/CircularStd-BookItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/CircularStd-BookItalic.woff') format('woff'), /* Modern Browsers */
       url('/fonts/CircularStd-BookItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/CircularStd-BookItalic.svg#855bce7df969ba08883ae8fbab5e7b18') format('svg'); /* Legacy iOS */

  font-style:   italic;
  font-weight:  400;
}

@font-face {
  font-family: 'Circular';
  src: url('/fonts/CircularStd-Bold.eot'); /* IE9 Compat Modes */
  src: url('/fonts/CircularStd-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/CircularStd-Bold.woff') format('woff'), /* Modern Browsers */
       url('/fonts/CircularStd-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/CircularStd-Bold.svg#b333381778fc1f96de44d359c7f8b95e') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Circular';
  src: url('/fonts/CircularStd-BoldItalic.eot'); /* IE9 Compat Modes */
  src: url('/fonts/CircularStd-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/CircularStd-BoldItalic.woff') format('woff'), /* Modern Browsers */
       url('/fonts/CircularStd-BoldItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/CircularStd-BoldItalic.svg#5957d2c48c4c05c65aa56927c61c0fdc') format('svg'); /* Legacy iOS */

  font-style:   italic;
  font-weight:  700;
}
