@font-face {
  font-family: 'Whitney';
  src: url('/fonts/Whitney-Book.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Whitney-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Whitney-Book.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Whitney-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/Whitney-Book.svg#f28578544bcd221f22d5dc42685e92f2') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Whitney';
  src: url('/fonts/Whitney-BookItalic.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Whitney-BookItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Whitney-BookItalic.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Whitney-BookItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/Whitney-BookItalic.svg#31db9e5e60b73131e96699f50755b64c') format('svg'); /* Legacy iOS */

  font-style:   italic;
  font-weight:  400;
}

@font-face {
  font-family: 'Whitney';
  src: url('/fonts/Whitney-Bold.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Whitney-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Whitney-Bold.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Whitney-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/Whitney-Bold.svg#ea4cb46c3a1f8ac3e9553c5155895e33') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Whitney';
  src: url('/fonts/Whitney-BoldItalic.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Whitney-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Whitney-BoldItalic.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Whitney-BoldItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/Whitney-BoldItalic.svg#0f9161951b1c93f169bdf468f315f019') format('svg'); /* Legacy iOS */

  font-style:   italic;
  font-weight:  700;
}
