$sans-serif: "Whitney", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$color-highlight: #008CD6;
$color-text-primary: #56666F;
$color-background-secondary: #F2F3F6;
$color-border-primary: #E5E8EA;
