$sans-serif: "Circular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$color-highlight: #9b4dca;
$color-text-primary: #606c76;
$color-background-secondary: #f4f5f6;
$color-border-primary: #f4f5f6;
