@charset "utf-8";
@import "variables";
@import "normalize";
@import "fonts";
@import "milligram/all";

main {
  width: 100%;
}

header {
  background-color: $color-background-secondary;
  height: 70vh;
  text-align: center;
  padding-top: 5rem;
}
