@charset "utf-8";
@import "variables";
@import "normalize";
@import "fonts";
@import "milligram/all";

main {
  width: 100%;
}

header {
  background-color: $color-background-secondary;
  height: 45rem;
  text-align: center;
  padding-top: 10rem;
  margin-top: 5.2rem;
}

@import "components/all"
