.github {
	border: 0;
	color: $color-background-secondary;
	fill: $color-highlight;
	height: 5.2rem;
	position: fixed;
	right: 0;
	top: 0;
	width: 5.2rem;
	z-index: 99;
}
.github:hover .octo-arm {
	-webkit-animation: octocat-wave 560ms infinite;
	animation: octocat-wave 560ms infinite;
}
@-webkit-keyframes octocat-wave {
	0% , 50% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	25% , 75% {
		-webkit-transform: rotate(-25deg);
		transform: rotate(-25deg);
	}
}
@keyframes octocat-wave {
	0% , 50% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	25% , 75% {
		-webkit-transform: rotate(-25deg);
		transform: rotate(-25deg);
	}
}
