---
title: Spotio: An Rdio-inspired skin for Spotify
---
<main>
  <%= partial "partials/nav" %>

  <header>
    <h1>Spotio</h1>
    <h2 class="h4">An Rdio-Inspired Skin for Spotify</h2>
    <a href="#" id="spotio-download-button" class="button button-large">Download</a>
  </header>
</main>
