---
title: "Spotio: An Rdio-inspired skin for Spotify"
---
<main>
  <%= partial "partials/nav" %>

  <header>
    <div class="animate-in">
      <h1>Spotio</h1>
      <p>A proof-of-concept Rdio-inspired skin for Spotify.app</p>
      <a href="#" onclick="ga('send', 'event', 'button', 'click', 'Download button');" id="spotio-download-button" class="button button-large">Download</a>

      <br>
      <small><i>Current version: <span id="latest-version">v1.0</span></i></small>
      <div class="share">
        <a class="github-button" href="https://github.com/devinhalladay/spotio" data-icon="octicon-star" data-style="mega" data-count-href="/devinhalladay/spotio/stargazers" data-count-api="/repos/devinhalladay/spotio#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star devinhalladay/spotio on GitHub">Star</a>
        <a class="github-button" href="https://github.com/devinhalladay/spotio/fork" data-icon="octicon-repo-forked" data-style="mega" data-count-href="/devinhalladay/spotio/network" data-count-api="/repos/devinhalladay/spotio#forks_count" data-count-aria-label="# forks on GitHub" aria-label="Fork devinhalladay/spotio on GitHub">Fork</a>
        <a class="github-button" href="https://github.com/devinhalladay/spotio/issues" data-icon="octicon-issue-opened" data-style="mega" data-count-api="/repos/devinhalladay/spotio#open_issues_count" data-count-aria-label="# issues on GitHub" aria-label="Issue devinhalladay/spotio on GitHub">Issue</a>
          </div>
    </div>
  </header>

  <section class="container">
		<div class="animate-in">
		  <div class="well alert">
		    <strong>Important:</strong> Please make sure you allow apps from anywhere in your Mac's Security preferences, otherwise this app will not launch!
		  </div>
		</div>
	</section>

  <section class="container">
		<div class="animate-in">
		  <h4 class="title">Screenshots</h4>
      <div class="container-breaker">
        <% for i in 1...6 %>
          <img class="bordered" src="/images/<%= i %>.png" alt="Screenshot of Spotio, an Rdio-inspired skin for Spotify">
        <% end %>
      </div>
		</div>
	</section>

  <section class="container">
    <h4 class="title">Installation</h4>
    <ul>
      <li>Quit your local Spotify app.</li>
      <li>Make sure you have allowed opening applications from unidentified developers in your system security settings, otherwise this won't work.</li>
      <li>Download the zipped up Spotify.app binary: <a href="#" id="spotio-download-button" onclick="ga('send', 'event', 'button', 'click', 'Download button');">download</a>.</li>
      <li>Unzip and launch the app! If you like the way it looks, replace your local Spotify.app with the Spotio version.</li>
    </ul>
  </section>

  <section class="container">
    <h4 class="title">Known/Possible Issues</h4>
    <p>There may be some issues with this as of now but these are untested/unproven.</p>
    <ul>
      <li>This app <i><strong>may</strong></i> stop updates from occurring. I'm working on finding out.</li>
      <li>This app seems to break the developer certificate used by Spotify, so you need to allow opening apps from anywhere in order for it to work.</li>
      <li>As of now, updates will, obviously, overwrite Spotio. I'm working on a counter-update system to fix that.</li>
    </ul>
  </section>

  <section class="container">
		<h4 class="title">Why?</h4>
    <p><strong>I sorely miss Rdio.</strong> It was the perfect music streaming service: quality streaming, massive selection, perfect UX, beautiful UI, and wonderful social interaction features. When it was bought by Pandora, many of us were left out in the dust and were forced to choose between lesser services like Apple Music, Spotify, and Google Play Music.</p>
    <p><strong>I know this little theme can't recreate the amazing product that Rdio was, but I'm really glad that I found a small way to pay tribute to Rdio's product and UI in my own way. This isn't perfect, it isn't Rdio, but as of now it's the closest we're going to get.</strong></p>
    <p>If you decided to go with Spotify but, like me, you miss Rdio's light UI, you're in luck—<strong>I discovered that you can skin the Spotify app with CSS</strong>.</p>
    <p><i>Disclaimer: I have nothing but respect for the Spotify design and engineering teams, and undertaking this project has served only to increase that respect. They're really, really brilliant teams doing things that I admire greatly. I appreciate the design decisions they made while designing the app, but I prefer a light theme in my apps, so this project is merely an attempt to my visual preferences and to relive the memory of Rdio, not to do it "better" than the Spotify team did.</i></p>
	</section>

  <section class="container">
    <h4 class="title">Contributing</h4>
    <p>If you want to help out, I'd be happy to have you as a contributor!</p>
    <p><strong>Currently, I specifically need some help completing these things:</strong></p>
    <ul>
      <li>Redesigning icons to look more like Rdio's;</li>
      <li>Fixing contrast issues caused by CSS issues;</li>
      <li>Skinning unstyled parts of the app;</li>
      <li><strong>Any suggestions you have for how to improve the app!</strong></li>
    </ul>
    <p>Head over to the <a href="https://github.com/devinhalladay/spotio">GitHub repo</a> if you want to help out, and feel free to create an issue or send a pull request.</p>
  </section>

  <section class="container">
    <footer class="footer">
      <p>Designed and developed by <a target="blank" href="http://devinhalladay.com" title="Devin Halladay">Devin Halladay</a>. Licensed under the <a target="blank" href="https://github.com/devinhalladay/spotio#license" title="MIT License">MIT License</a>.</p>
    </footer>
  </section>
</main>
